header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

body {
 font-family: Lato, sans-serif;
 height: 100%;
 margin: 0;
 background-color: #F1F1F1;
}

.site-body{
  display: flex;
  min-height: 100%;
  align-items: stretch;
  position: relative;
}

