.create-posting-container{
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  background: white;
  box-shadow: 0px 3px 3px #888888;
  border-radius: 5px;
   margin-bottom: 100px;
}

.posting-form{
  margin: 6% auto;
}

.posting-form h1{
font-size: 2em;
margin: 0% 0% 0% 35%;
}

.posting-form input{
  margin: 0% auto;
  width: 75%;
  display: block;
  height: 3em;
  border-radius: 3px;
  box-sizing: border-box;
}

.posting-first{
  display: flex;
}

.posting-form input[placeholder="Title"]{
  width: 57%;
  margin-right: 0px;
}

.posting-form input[placeholder="Price"]{
  width: 15%;
  margin-left: 20px;
}

.posting-second{
  display: flex;
  width: 100%;
}
.posting-form input[placeholder="City"]{
  width: 38%;
  margin-left: 104px;
  margin-right: 10px;
}

.posting-form input[placeholder="State"]{
  width: 12%;
  margin-left: 0;
  margin-right: 4px;
}

.posting-form input[placeholder="Zip Code"]{
  width: 23%;
  margin-left: 10px;
}



.posting-form > input[type=textarea]{
height: 100px;
}

.posting-form > input[type=submit]{
  background-color:#012a36;
  color: white; 
  font-weight: bold;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  border-width: 0;
  margin-bottom: 5%;
}

.posting-form > input[type=submit]:hover{
  background-color:  #01141a;
  cursor: pointer;
  box-sizing: border-box;
}

.create-posting-img{
  display: flex;
  margin-left: 30%;
  height: 2em;
}

.create-posting-img label{
  padding: 1.5% 0% 5% 0%;
  width: 20%;
  height: 1.2em;
}


.create-posting-img input{
  padding: 1% 0%;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}

.posting-modal-x{
    display: block;
    padding: 10px;
    margin-left: 350px;
    position: absolute;
    background-color: white;
    top: 4px;
    right: 5px;
    font-size: 2em;
    cursor: pointer;
}

.fileContainer {
  width: 0px;
  height: 0px;
}

/* display none */
.fileContainer > p,
.uploadIcon {
  display: none;
}

.chooseFileButton {
  padding: 3px 15px !important;
  margin: 0px !important;
  width: 200px !important;
}

.fileContainer {
  margin: 0px !important;
  margin-left: 160px !important;
}

.fileUploader {
  margin: 0px !important;
  height: 0px;
  width: 0px;
}