.create-posting-errors {
  color: red;
  text-align: center;
}
.create-posting-errors ul {
  /* margin-top: -2px; */
}

#create-posting-errors-h2 {
  bottom: 2%;
  left: 10%;
  color: red;
  font-weight: bold;
  font-size: 16px;
}