.home-container {
  margin-top: 68px;
  margin-bottom: 120px;
  padding-top: 10px;
  width: 100%;
}

.home-filter {
  width: 17%;
  min-width: 275px;
  box-sizing: border-box;
  height: 1060px;
  margin: 10px;
  padding-top: 2px;
  border-radius: 8px;
}

.home-filter h2{
  font-size: 1.5em;
  padding-top: 2%;
  text-decoration: underline;
  margin: 2% 0% 0% 40%;
}

.home-index{
  box-sizing: border-box;
  margin: 0 16% 0 17%;
  padding-top: 1%;
  background-color: #f1f1f1;
}

.nav-button{
  margin-right: 40px;
  padding-right: 20px;
  background-color: #6290c8;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.nav-button:hover{
  background-color: #376996;
  color: black;
  cursor: pointer;
  border-color: black;
}

.home-index-list{
  display: flex;
  flex-wrap: wrap;
  margin: auto; 
}

.home-index .home-no-show{
  display: none;
}

/* Side engineers container */

.footer-container {
  width: 100%;
  display: flex;
  z-index: 0;
  justify-content: center;
  position: fixed;
  bottom: -72px;
  left: 0;
  background: #012a36;
}

.footer-container:hover {
  bottom: 0;
}

.meet-the-engineers {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: bolder;
  background: white;
  display: none;
}

.engineer-info {
  color: white;
  width: 100%;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 3px;
}

.engineer-info a {
  color: white;
}

.engineer-info a:hover {
  text-decoration: underline;
}

.engineer-name {
  font-family: 'Lato', sans-serif;
  bottom: 0;
  font-size: 13px;
  text-align: center;
  background: white;
  font-weight: bold;
  color: #012a36;
  border-radius: 5px;
  padding: 2%;
}

.links-image-container {
  margin: 2%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.links {
  text-decoration: none;
  color: white;
  padding: 3px;
  margin-bottom: 10px;
  cursor: pointer;
}

.engineer-image {
  height: 65px;
  width: 65px;
}

.engineer-image img {
  height: 100%;
  width: 100%;
  border-radius: 10%;
}

.italicize-quote {
  font-family: "lato", sans-serif;
  font-size: 12px;
  margin-right: 5px;
  margin-left: 5px;
  font-style: italic;
}

.engineer-quotes {
  margin: 0px 10px;
  margin-top: 10px;
  display: none;
}

.engineer-quotes span {
  margin-left: 150px;
}