.home-container {
  margin-top: 68px;
  padding-top: 10px;
  width: 100%;  
  margin-left: 2%;  
  display: flex;
  bottom: 0;
}

.home-filter {
  width: 15%;
  box-sizing: border-box;
  background: white;
  height: 860px;
  margin: 10px;
  padding-top: 2px;
  box-shadow: 0px 3px 3px #888888;
}

.home-filter h2{
  font-size: 1.5em;
  padding-top: 2%;
  text-decoration: underline;
  margin: 2% 0% 0% 40%;
}

/* .home-tag-search-bar {
  margin-top: 12%;
  margin-left: 30%;
} */

.home-index{
  box-sizing: border-box;
  margin: 10px;
  margin-right: 15px;
  width: 75%;
  border: none;
  padding-top: 1%;
  background-color: #f1f1f1;
  height: 88px;
  /* box-shadow: 0px 3px 3px #888888; */
}

.nav-button{
  margin-right: 40px;
  padding-right: 20px;
  background-color: #6290c8;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.nav-button:hover{
  background-color: #376996;
  color: black;
  cursor: pointer;
  border-color: black;
}

.home-index-list{
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-between; */
  height: 100%;
}



.home-index .home-no-show{
  display: none;
}

/* Side engineers container */



.meet-the-engineers {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  padding-top: 2px;
}

.meet-the-engineers h3.thicker {
  font-weight: bold;
}

/* .engineer-info {
 backg 
} */

.engineer-name {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.engineer-ahmed {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 14px 20px 20px 20px;
}

.links-image-container {
  /* background: red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15%;
  margin-bottom: 5px;
}

.links {
  text-decoration: none;
  color: grey;
  padding: 3px;
  margin-bottom: 10px;
  margin-left: 14px;
  cursor: pointer;
}

.links:hover {
  color: #012a36;
}

.engineer-image {
  height: 80px;
  width: 80px;
}

.engineer-image img {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  /* margin-right: 10px; */
}

.italicize-quote {
  font-family: "lato", sans-serif;
  font-size: 12px;
  margin-right: 5px;
  margin-left: 5px;
  font-style: italic;
}

/* .italicize-quote p {
  font-family: "lato", sans-serif;
  margin-right: 20px;
  margin-left: 20px;
} */

.engineer-quotes {
  margin: 0px 10px;
  margin-top: 10px;
}