.splash-page{
  margin-top: 100px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
  position: fixed;
}

.splash-page > div{
  display: inline-block;
}

.splash-page h2 {
  color: white;
  font-size: 32px;
  margin: 15px;

}

.looking-for {
  padding: 50px;
  margin: 10px;
  margin-right: 25px;
  width: 35%;
  height: 350px;
  border-style: border-box;
  background-image:url("https://images.unsplash.com/photo-1552761831-7ef8ec07adbd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: auto;
  box-shadow: 0px 3px 3px #888888;
  border-radius: 5px;
  transition: all .2s ease-in-out;
  text-decoration: none;
}

.looking-for:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.rent-out {
  padding: 50px;
  margin: 10px;
  width: 35%;
  margin-left: 25px;
  height: 350px;
  background: url("https://images.unsplash.com/photo-1475359524104-d101d02a042b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1157&q=80");
  box-shadow: 0px 3px 3px #888888;
  border-radius: 5px;
  transition: all .2s ease-in-out;
  text-decoration: none;

}

.rent-out:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.splash-start-renting-button {

  color: #012a36;
  display: inline-block;
  margin-top: 25%;
  margin-left: 27%;
  font-size: 1.2em;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  font-weight: bold;
  background: white;
  border-radius: 25px;
}

.splash-start-renting-button:hover {
 text-decoration: underline;
}

.splash-start-looking-button {
  color: #012a36;
  display: inline-block;
  margin-top: 25%;
  margin-left: 27%;
  font-size: 1.2em;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  font-weight: bold;
  background: white;
  border-radius: 25px;
}

.splash-start-looking-button:hover {
 text-decoration: underline;
}


.splash-ptag{
font-size: 1.2em;
margin-top: 10px;
margin-left: 3%;
color: black;
background: #FFFFFFD4;
border-radius: 8px;
padding: 10px;
}



.looking-for > p{
  line-height: 1.2;
}

.rent-out > p {
  line-height: 1.2;
}

.grow { 
  transition: all .2s ease-in-out; 
  }
  
  .grow:hover { 
  transform: scale(1.6); 
  }
  .main {
    width:100%
  }

  .main-footer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: #012a36;
    bottom: 0;
    box-shadow: 3px 3px 3px 3px #888888;
    z-index: 2;
  }

  .main-git-links-container {
    padding: 2% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 8px;
    
  }

  .main-git-links-container:hover {
    background: #011920;
  }

  .main-git-logo {
    width: 50px;
    height: 50px;
    margin-left: 3%;
    margin-right: 3%;
  }

  .main-meet-the-devs-bar {
    background: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
    z-index: 1;
    bottom: 99px;
    box-shadow: 3px 3px 3px 3px #888888;
  }

  .main-meet-the-devs-bar h4 {
    font-weight: bold;
    color: #012a36;
  }

  .git-roles {
    z-index: 5;
    margin-left: 30%;
    justify-content: center;
    bottom: 10%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 50%;
  }

  .main-git-links {
    text-decoration: none;
  }

  .main-git-role-ahmed {
    color: white;
    background: black;
  }

  .main-git-role-ayce {
    
  }

  .main-git-role-nate {
    
  }
  .main-git-role-sean {
    
  }