.mapboxgl-map {
  position: absolute;
  top: 15%;
  left: 10%;
  bottom:0;
  margin-top: 20px;
  margin: auto;
  width: 80%;
  height: 80%;
  /* overflow: visible !important; */
}

.marker {
  background-image: url('map-arrow-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.close-map-x {
  float: right;
  font-family: 'Lato', sans-serif;
  background: none;
  font-size: 32px;
  margin-top: -10px;
  margin-right: 1%;

}

.close-map-x:hover {
  cursor: pointer;
}

.close-map-x:focus {
  outline: none;
}

.maps-item-img-sm {
  margin-left: 2%;
  margin-right: 3%;
  height: 80px;
}

.maps-info-header {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: -10px;
  line-height: 1.5em;
}

.maps-info-header span {
  font-weight: bold;
}

.maps-info-header {
  display: flex;
  position: relative;
}

.posting-title-map {
  font-weight: bold;
  position: inline-block;
  text-align: center;
  font-size: 150%;
  float: top;
}

.posting-description-map {
  /* position: center; */
  text-align: center;
}



