.nav-box-loggedout {
  width: 100%;
  height: 68px;
  padding: 0;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #a2d3c2;
  box-shadow: 0px 3px 3px #888888;
  z-index: 1;
}

.nav-box-loggedin {
  width: 100%;
  height: 68px;
  background-color: #a2d3c2;
  position: fixed;
  box-shadow: 0px 3px 3px #888888;
  z-index: 1;
}

.nav-buttons {
  width: 290px;
}

.nav-box-loggedout >
.nav-buttons >
.nav-button {
  width: 50px;
  margin-right: 40px;
  padding-right: 20px;
  background-color:#a2d3c2;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.nav-box-loggedout >
.nav-buttons >
.nav-button:hover{
  background-color: #779e91;
  color: black;
  border-color: black;
}

.nav-logo {
  width: 70px;
  z-index: 7;
  position: fixed;
  margin-left: 80px;
  margin-top: 10px;
  border-radius: 10px;
}

.nav-logo-box {
  position: fixed;
}

.nav-logo-box h2 {
  color: white;
  position: fixed;
  font-size: 24px;
  margin-left: 180px;
  margin-top: 24px;
  z-index: 7;
}

.nav-dropdown-trigger {
  margin-right: 3%;
  margin-top: 10px;
  position: relative;
  float: right;
}

.nav-dropdown-trigger-icon {
  width: 44px;
  position: relative;
  border-radius: 100%;
  padding: 12%;
}

.nav-dropdown-trigger:hover .nav-dropdown-trigger-icon {
  background: #779c8f;
}


.nav-dropdown-items {
  display: none;
  text-decoration: none;
  font-size: 20px;
  right: -20px;
  top: -4px;
  position: absolute;
  background: #F1F1F1;
  width: 300px;
  line-height: 1em;
  padding: 10%, 10%;
  margin-top: 68px;
  z-index: 7;
  border-radius: 8px;
}

.nav-dropdown-items ul li:hover {
  background: #779c8f;
  display: block;
}
.nav-dropdown-items ul li:hover .nav-dropdown-link {

  color: white;
}

.nav-dropdown-link {
  display: block;
  padding: 6%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.nav-dropdown-trigger:hover {
  height: 400%;
}

.nav-dropdown-trigger:hover .nav-dropdown-items {
  display: block;
}

.nav-logo:hover {
  cursor: pointer;
  background: #779e91;
}
.nav-logo:hover .nav-logout-link {
  cursor: pointer;
  background: #376996;
}

.nav-logout-link {
  text-decoration: none;
  color: white;
  padding: 5px 12px;
}

.nav-logout-link:hover {
  color: black;
}