


.post-index-item{
  width: 30%;
  height: 10%;
  margin: 2% 1%;
  display: inline-block;
  background: #f1f1f1;
;
}

.post-title,
.post-price,
.post-tags {
  display:inline-block;
  margin: 4% 4%;
  font-weight: bold;
}

.post-index-item-image-container {
  width: 100%;
  height: 300px;
  background: #f1f1f1;
  /* border: 2px solid #D8D8D8;
  border-radius: 8px; */
}

.home-items-index{
background-color: #f1f1f1;
border:none;
}

.image-container{
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

.posting-image{
  object-fit: cover;
  height: 300px;
  width:100%;
  border-radius: 8px;
  box-sizing: content-box;
}

.Item-info-bar{
  background-color:  #f1f1f1;
}
