.modal-top-bar{

  display: flex;
  position: relative;
height: 35px;
}

.modal-price-desc{
  margin-top: 35px;
  height: 20px;

  margin-right: 5%;
}



.modal-item-title{
  font-size: 2em;
  display: inline-block;  
 padding-left: 5px;

top: 2px;
}

.modal-x{
  display: block;
padding: 8px;
margin-left: 350px;
position: absolute;
top: 2px;
right: 5px;
}



.modal-img{
  margin-top: 50px; 
  height: 100px;
  display: inline-block;
  width: 50%;
}

.modal-calendar{
 float: right;
margin-top: 13%;
}

.posting-image-container{
  display: flex;
}


.modal-posting-img{
   width: 50%;
  border-radius: 4px;
  margin-top: 15%;
  height: 300px;
  bottom: 0;
}



/* .rdrCalendarWrapper */
/* .rdrDateRangeWrapper */