.post-index-item{
  width: 30%;
  height: 10%;
  margin: 2% 1%;
  background: #f1f1f1;
}

.posting-index-item {
  width: 320px;
}

.post-title,
.post-price,
.post-tags {
  display:inline-block;
  margin: 4% 4%;
  font-weight: bold;
}

.post-index-item-image-container {
  width: 100%;
  height: 300px;
  background: #f1f1f1;
}

.entire-image{
  margin-right: 5%;
  margin-left: 5%;
  z-index: -5;
}

.home-items-index{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container{
  width: 100%;
  height: 300px;
  border-radius: 8px;
  
}

.posting-image{
  object-fit: cover;
  height: 300px;
  width:100%;
  border-radius: 8px;
  box-sizing: content-box;
  z-index: 0;
}

.Item-info-bar{
  background-color:  #f1f1f1;
}

.stuff {
  height: 80px;
  width: 80px;
}