.modal-top-bar{
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* position: relative; */
  justify-content: space-between;
  height: 0px;
  margin-top: 2%;
}

.modal-description {
  width: 500px;
}

.modal-price-desc{
  width: 100%;
  padding-top: 1.2%;
  text-align: center;
  line-height:1.3em;
}

.postings-show-name-span {
  margin-right: 1%;
}

.postings-show-price-span{
  font-weight: 700;
  
}

.modal-item-title{
  background:#a2d3c2;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 8px;
  color: white;
  font-size: 2.5em;
}

.modal-x{
  display: block;
  height: 22px;
  background-color: blue;
  top: 55%;
  right: 2%;
  font-size: 2em;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.modal-item-info {
  display: flex;
  position: absolute;
  top: 24%;
}

.posting-show-calendar {
  margin-left: 6%;
}

.modal-img {
  height: 470px;
  object-fit: cover;
  width: 100%;
  margin-left: 8%;
  border-radius: 8px;
}

.modal-posting-img{
   width: 50%;
  border-radius: 4px;
  margin-top: 15%;
  height: 300px;
  bottom: 0;
}

.modal-rent-button{
  align-content: center;
  height: 2.5em;
  background-color:#012a36;
  color: white;
  cursor: pointer;
  width: 60%;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
  margin-left: 12%;
  margin-top: 2%;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
}

.postings-view-map-button {
  align-content: center;
  height: 2.5em;
  background-color: #a2d3c2;
  cursor: pointer;
  width: 15%;
  box-sizing: border-box;
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  bottom: 2.5%;
  right: 3%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  border-width: 0;
}

.modal-rent-button:hover{
  background-color:  #011a22;
  cursor: pointer;
}

.postings-view-map-button:hover {
  background-color:  #779e91;
  color: black;
  cursor: pointer;
}

