.request-image{
  height: 400px;
  width: 60%;
border-radius: 8%;
  display: flex;
  margin: 3% auto 0% auto;
}

/* .total-amount, */
.request-title{
  background:#a2d3c2;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 8px;
  color: white;
  width: 33%;

  margin-left: 28%;
  margin-top: 50px;
  font-size: 2.25em;
  text-align: center;
  /* height: 2em;
  font-size: 2em; */
}

.request-buttons{
  display: flex;
  margin: 1% auto;
 justify-content: space-evenly;

}

.accept-request{
 background: #012a36;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 25px;
}

.reject-request{
 background: #012a36;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 25px;
}

.accept-request:hover,
.reject-request:hover {
  background: #01141a;
  cursor: pointer;
}

.accept-request:focus,
.reject-request:focus{
 outline: none;
}

.accept-button-nomo{
   background: #012a36;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 25px;
}

.reject-button-nomo{
   background: #012a36;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 25px;
}

.accept-button-nomo:hover,
.reject-button-nomo:hover{
  background: #01141a;
  cursor: pointer;
}


.request-buttons-nomo{
  display:flex;
  justify-content: space-around;
  margin-top: 4%;
}

.requestor {
  margin-left: 45%;
  margin-bottom: .5%;
}

.requestor-cost{
margin-left: 42%;
margin-top: 2%;
}

.requestor-rev{
margin-left: 41%;
margin-top: 1%;
}

.request-text{
margin-top: 2%;
}