.request-image{
  height: 70%;
  width: 70%;
  display: flex;
  margin: 5% auto;
}

.total-amount,
.request-title{
  height: 2em;
  font-size: 2em;
}

.request-buttons{
  display: flex;
  margin: 0 auto;
 justify-content: space-evenly;
}

.accept-request{
 background: #012a36;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 25px;
}

.reject-request{
 background: #012a36;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 25px;
}

.accept-request:hover,
.reject-request:hover {
  background: #01141a;
  cursor: pointer;
}

.accept-request:focus,
.reject-request:focus{
 outline: none;
}

.accept-button-nomo{
   background: #012a36;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 25px;
}

.reject-button-nomo{
   background: #012a36;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 25px;
}

.accept-button-nomo:hover,
.reject-button-nomo:hover{
  background: #01141a;
  cursor: pointer;
}

.request-buttons-nomo{
  display:flex;
  justify-content: space-around;
  margin-top: 4%;
}