.search-container{
  display: flex;
  justify-content: space-around;
  margin: 1% 18%;
}

.title-container,
.tag-container {
  width: 46%;
}

.search-bar,
.search-bar-tag {
  height: 3em;
  width: 100%;
  border-radius: 5px;
  background-color: white;
}

input:focus {
  outline:none;
}

button:focus {
  outline:none;
}