.search-container{
  display: flex;
  margin: 1% 337px;
}

.title-container,
.tag-container {
  width: 40%;
}

.tag-container {
  margin-left: 260px;
  margin-right: 10px;
}

.search-bar,
.search-bar-tag {
  height: 3em;
  width: 100%;
  border-radius: 5px;
  background-color: white;
}

input:focus {
  outline:none;
}

button:focus {
  outline:none;
}